@model IEnumerable<AspNetMvc.Models.Rating>
@{
    ViewData["Title"] = "Index";
}

<img class="logo" src="~/css/webIcon.png"/>
<div>
    <form asp-action="Search" class="search">
        <input name="query" placeholder="Enter Name" id="Search" />
        <input type="submit" value="search" onkeydown="SubmitForm()" />
    </form>
</div>

@{

    if (Model == null)
    {
        <div> No Rating With that Name </div>
    }
    else
    {

      
        <button type="button" class="btn btn-primary" onClick="location.href='@Url.Action("Create", "Ratings")'">Write a feedback!</button>

        <table class="table">
            <thead>
                <tr>
                    <th class="table-head">
                        @Html.DisplayNameFor(model => model.Rate)
                    </th>
                    <th class="table-head">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th class="table-head">
                        @Html.DisplayNameFor(model => model.Feedback)
                    </th>
                    <th class="table-head">
                        Time
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @for (int i = 0; i < item.Rate; i++)
                            {
                                <span class="fa fa-star checked"></span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="feedback">
                            @Html.DisplayFor(modelItem => item.Feedback)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>
                        <td>
                            <span class="Edit">
                                <button type="button" class="btn btn-primary" onClick="location.href='@Url.Action("Edit", "Ratings")' + '/' + @item.ID">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                                    </svg>
                                </button>|
                            </span>

                            <span class="Details">
                                <button type="button" class="btn btn-primary" onClick="location.href='@Url.Action("Details", "Ratings")' + '/' + @item.ID">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"></path>
                                    </svg>
                                </button>|
                            </span>

                            <span class="Delete">
                                <button type="button" class="btn btn-primary" onClick="location.href='@Url.Action("Delete", "Ratings")' + '/' + @item.ID">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                                    </svg>
                                </button>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

  @{try
        {
            double avg = Math.Round(Model.Average(r => r.Rate), 2);
            string width = (avg * 100 / 5).ToString() + "%";
            <div class="star-ratings">
                <div class="fill-ratings" style="width:@width">
                    <span class="stars">★★★★★</span>
                </div>
                <div class="empty-ratings">
                    <span class="stars">★★★★★</span>
                </div>
            </div>
        }
        catch { }
    }
<span><a asp-action="index"> GoBack To Full List</a></span>




@section Scripts{
<script src="~/js/Search.js"> </script>
<script src="~/lib/dist/browser/signalr.js"> </script>
<script src="~/js/signalr.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    }